* {
    box-sizing: border-box;
    border: 1px 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
}

header {
    width: 100%;
    border-bottom: 1ch; 
    display: flex;
    justify-content: space-between;
}

진짜 잘산듯 




